# contains the configuration parameters of the forward model pipeline
dirs:
  # absolute path at NERSC
  CosmoGrid:
    root: "/global/cfs/cdirs/des/cosmogrid/DESY3"
    grid: "/global/cfs/cdirs/des/cosmogrid/DESY3/grid"
    fiducial: "/global/cfs/cdirs/des/cosmogrid/DESY3/fiducial"

files:
  # relative to the root of this repository
  pixels: "data/DESY3_pixels_512.h5"
  noise: "data/DESY3_noise.h5"
  grid_perms: "data/CosmoGridV1_perm_dirs.npy"
  grid_params: "data/CosmoGridV1_param_dirs.npy"
  meta_info: "data/CosmoGridV1_metainfo.h5"
  healpy_data: "data/healpy_data"

survey:
  name: "DESy3"
  metacal:
    map_types:
      input: ["kg", "ia", "dg"]
      output: ["kg", "ia", "sn"]
    # from Table 2 in https://arxiv.org/pdf/2012.08566.pdf
    z_lims: [[0.0, 0.358], [0.358, 0.631], [0.631, 0.872], [0.872, 2.0]]
    z_bins: ["desy3metacal1", "desy3metacal2", "desy3metacal3", "desy3metacal4"]
    # FIXME these are only placeholder values that were roughly estimated from histograms
    bias: [0.7, 1.2, 1.8, 3]
    # from Table 1 in https://arxiv.org/pdf/2105.13544.pdf
    z_errors:
      mu: [0, 0, 0, 0]
      sigma: [0.018, 0.015, 0.011, 0.017]
  maglim:
    map_types:
      input: ["dg"]
      output: ["dg"]
    # from Table 2 in https://arxiv.org/pdf/2011.03411.pdf
    z_lims:
      [
        [0.15, 0.35],
        [0.35, 0.50],
        [0.50, 0.65],
        [0.65, 0.80],
        [0.80, 0.95],
        [0.95, 1.05],
      ]
    z_bins:
      [
        "desy3maglim1",
        "desy3maglim2",
        "desy3maglim3",
        "desy3maglim4",
        "desy3maglim5",
        "desy3maglim6",
      ]

analysis:
  # the six cosmological parameters of the CosmoGrid have to be listed first
  params: ["Om", "s8", "H0", "Ob", "ns", "w0", "Aia"]
  n_side: 512
  n_pix: 3145728
  n_side_down: 16
  # verify this scale cut physically
  l_max: 1535
  n_patches: 4
  # from Table 1 in https://arxiv.org/pdf/2105.13544.pdf
  # TODO convert to kappa instead of gamma level
  shear_bias:
    multiplicative:
      mu: [-0.0063, -0.0198, -0.0241, -0.0369]
      sigma: [0.0091, 0.0078, 0.0076, 0.0076]
  grid:
    # CosmoGrid
    n_cosmos: 2500
    n_perms_per_cosmo: 4
    n_noise_per_example: 3
    # different parameter ordering
    params_sobol: ["Om", "s8", "Ob", "H0", "ns", "w0", "Aia"]
    priors:
      # from Table 1 in https://arxiv.org/pdf/2201.07771.pdf
      Om: [0.1, 0.5]
      s8: [0.4, 1.4]
      H0: [64, 82]
      Ob: [0.03, 0.06]
      ns: [0.87, 1.07]
      w0: [-2.0, -0.333]
      Aia: [-3.0, 3.0]
      Om_s8_border_points:
        [
          [0.1, 0.9],
          [0.1, 1.4],
          [0.2, 1.4],
          [0.3, 0.4],
          [0.5, 0.4],
          [0.5, 0.65],
        ]
  fiducial:
    # CosmoGrid
    n_cosmos: 17 # 1 + 2 * n_perts
    n_perms_per_cosmo: 200
    n_noise_per_example: 3
    # from Table 1 in https://arxiv.org/pdf/2201.07771.pdf
    Om: 0.26
    s8: 0.84
    H0: 67.36
    Ob: 0.0493
    ns: 0.9649
    w0: -1.0
    Aia: 0.0
    perturbations:
      Om: 0.01
      s8: 0.015
      H0: 2.0
      Ob: 0.001
      ns: 0.02
      w0: 0.05
      Aia: 0.1
